.ensime*
.idea
.cache*
.classpath
.project
.settings
.externalToolBuilders
.gradle

*.log
*.class
*.*~
\#*
.\#*

*.DS_Store
*.puml
*.svg
*.png
*.jpeg
*.jpg
*.viz

bin
target
build
project/target
bower_components
